<% if current_user != user %>
  <% if current_user.following?(user) %>
       <%= link_to user_relationships_path(user.id), method: :delete do %>
       <button class="btn btn-info">フォロー解除</button>
        <% end %>
        <p><%= link_to "チャットを始める",chat_path(user.id) %></p>
        <% else %>
        <%= link_to user_relationships_path(user.id), method: :post do %>
         <button class="btn btn-success">フォローする</button>
        <% end %>
      <% end %>
    <% end %>